html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI", Sans-serif;
}

.white {
    color: white;
}

.lighter {
    font-weight: lighter;
}

.blue {
    color: #4bcaff;
}

.underline {
    text-decoration: underline;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #515f67;
}

header {
    background-image: url("./images/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

nav {
    background-color: #475158;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

h1 {
    color: white;
}

h2 {
    font-weight: lighter;
    margin-bottom: 4vh;
}

nav > ul {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2vh;
    flex-wrap: wrap;
}

li.home {
    border: #4bcaff solid;
    border-radius: 3px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

li {
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    width: fit-content;
}

header > blockquote {
    margin-top: 6vh;
    padding-bottom: 6vh;
    color: white;
    line-height: 25px;
}

span.bg-grey {
    background-color: #475158;
    opacity: 0.85;
}

section.service {
    background-color: #4bcaff;
    padding: 2vw;
}

div.service > div.content {
    display: flex;
    flex-direction: column;
}

h3.service {
    display: inline;
}

p.service {
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 80%;
}

section.portfolio {
    padding: 2vw;
    color: #515f67;
}

section.portfolio > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2vh;
    flex-wrap: wrap;
    font-weight: 500;
    height: fit-content;
}

div.imgs-pf {
    display: grid;
    justify-items: center;
}

img.img-pf {
    margin-bottom: 5vh;
}

section.jds {
    padding: 2vw;
    background-color: #515f67;
}

button.jsd {
    margin: 2vh 0 2vh;
    padding: 7px 25px 7px 25px;
    background-color: #515f67;
    border: black solid;
    color: black;
}

img.video {
    width: 95vw;
}

section.twitter {
    background-color: #4bcaff;
    padding: 2vw;
}

div.twitter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.who-is {
    background-image: url("./images/bg_who_is_john_doe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2vw;
}

img.icon-who-is {
    border: white solid;
    padding: 2vw;
}

article.who-is {
    display: grid;
}

article.who-is > div.part2 {
    margin-top: 4vh;
}

div.part2 > p {
    margin-bottom: 4vh;
}

img.icon-who-is {
    margin-right: 4vw;
}

section.testimonials {
    padding: 2vw;
}

div.testimonials-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.testimonials-header > img{
    height: 5vh;
}

p.w-w {
    font-size: 75%;
}

section.contact {
    background-image: url("./images/bg-contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2vw;
}

textarea {
    width: 94vw;
}

p.contact {
    margin-bottom: 2vh;
}

input.send {
    background-color: #4bcaff;
    border: #4bcaff;
    padding: 10px 50px 10px 50px;
    margin-top: 2vh;
}

input {
    margin-bottom: 2vh;
}

input[type="email"], input[type="text"], textarea {
    background-color: unset;
    border: white solid;
    border-width: 1px;
    min-height: 5vh;
}

footer {
    background-color: #353f47;
    color: #515f67;
    padding: 2vh;
}

footer > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

p.copyright {
    text-align: center;
}

@media (max-width: 765px) and (orientation: landscape) {
    div.imgs-pf{
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width: 765px) {

    h1{
        font-size: 200%;
    }

    h2{
        font-size: 175%;
    }

    header > nav {
        padding-top: 2vh;
        font-size: 150%;
    }

    header > blockquote {
        line-height: 170%;
        font-size: 125%;
    }

    section.service > div.content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    h3.service{
        font-size: 130%;
    }

    p.service{
        font-size: 125%;
    }
    article > img.service{
        display: block;
    }

    section.portfolio > ul{
        font-size: 150%;
    }

    section.jds > article{
        font-size: 125%;
    }

    button.jsd{
        font-size: 125%;
    }

    section.twitter > p{
        font-size: 125%;
    }

    article.who-is{
        font-size: 125%;
    }

    section.testimonials > blockquote{
        font-size: 125%;
    }

    div.testimonials-header > img {
        height: 3vh;
    }

    p.w-w{
        font-size: 115%;
    }

    section.contact{
        font-size: 125%;
    }

    input.send{
        font-size: 130%;
    }

    div.imgs-pf {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 765px) and (orientation: landscape) {

    div.imgs-pf {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1025px){

    h2{
        font-size: 120%;
    }

    li{
        padding-left: 2vw;
    }

    header > nav{
        font-size: 90%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10vw 0 10vw;
        align-items: center;
        height: 15vh;
    }

    header{
        height: 50vh;
    }

    header > blockquote{
        margin-top: 12vh;
    }

    section.service{
        padding: 5vh 15vw 5vh 15vw;
    }

    section.service > div.content{
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2vw;
    }

    article > img.service{
        height: 4vh;
    }

    h3.service {
        font-size: 110%;
    }

    p.service {
        font-size: 80%;
    }

    section.portfolio{
        padding: 5vh 15vw 5vh 15vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 3vh;
    }

    div.imgs-pf {
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1/3;
    }

    img.img-pf {
        width: 15vw;
    }

    section.portfolio > ul {
        font-size: 100%;
        width: max-content;
    }

    section.jds{
        padding: 5vh 15vw 5vh 15vw;
    }

    section.jds > article{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    img.video {
        width: 30vw;
        grid-column: 2;
        grid-row: 1/4;
        margin: auto;
    }
    article.jds > p {
        font-size: 87%;
        margin-bottom: 2vh;
    }

    button.jsd{
        width: 15vw;
    }

    section.twitter{
        padding: 5vh 15vw 5vh 15vw;
    }

    section.twitter > p {
        font-size: 140%;
        line-height: 5vh;
    }

    section.who-is{
        padding: 5vh 15vw 5vh 15vw;
    }

    article.who-is {
        font-size: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    article.who-is > div.part2 {
        margin: 0;
    }

    img.icon-who-is {
        margin-right: 1vw;
    }

    section.testimonials{
        padding: 5vh 15vw 5vh 15vw;
    }

    section.testimonials > blockquote{
        line-height: 5vh;
    }

    section.contact{
        padding: 5vh 15vw 5vh 15vw;
    }

    form > div.part1{
        display: flex;
        flex-direction: row-reverse;
    }

    p.contact{
        width: 35vw;
    }

    div.form{
        width: 35vw;
    }

    textarea {
        width: 70vw;
    }

    input[type="text"], input[type="email"]{
        width: 30vw;
    }

    footer{
        justify-content: space-between;
        padding: 5vh 15vw 5vh 15vw;
        display: flex;
    }
}