html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI", Sans-serif;
}

.white {
    color: white;
}

.blue {
    color: #4bcaff;
}

.underline {
    text-decoration: underline;
}

.hide{
    display: none;
}

header {
    background-image: url("./images/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35vh;
    margin: auto;
    width: 100%;
    text-align: center;
}

nav {
    background-color: #475158;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    height: 15vh;
}

h1 {
    color: white;
}

nav > ul {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

li.home {
    border: #4bcaff solid;
    border-radius: 3px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

li {
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    width: fit-content;
}

header > blockquote {
    margin-top: 6vh;
    color: white;
    line-height: 25px;
}

span.bg-grey {
    background-color: #475158;
    opacity: 0.85;
}

section.service > h2 {
    margin-bottom: 4vh;
}

section.service {
    background-color: #4bcaff;
    padding: 10px;
}

div.service > div.content {
    display: flex;
    flex-direction: column;
}

h3.service {
    display: inline;
}

p.service {
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 80%;
}

section.portfolio {
    padding: 10px;
    color: #515f67;
}

section.portfolio > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

section.portfolio > h2 {
    margin-bottom: 4vh;
}

div.imgs-pf{
    display: grid;
    justify-items: center;
}

img.img-pf{
    margin-bottom: 5vh;
}
